@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,700;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131f3a;
  color: rgb(235, 235, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.logo{
  font-family: 'Expletus Sans', cursive;
  font-style: italic;
  font-size: 42px;  
}
.logo__textPrimary{
  color: #cecece;  
}
.logo__textSecondary{
  color: #ffffff;
}
.logo__image {
  height: 40px;
  pointer-events: none;
  position: relative;
  top:8px;
  margin:0 8px;
}